header{
    background-color: #000000;
    text-align: center;
    padding: 2rem;
    height: auto;
}

body{
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

nav{
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 10rem;
    text-align: center;
}

.principal, .derecha, .izquierda {
    margin-top: 10%;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 90%;
    max-height: 90%;
}

.links{
    color: rgb(0, 255, 255);
    font-style: italic;
}

.links:hover{
    color: rgb(0, 253, 169);
}

.tabla {
    border: #ffffff solid 0.2rem;
    margin-right: 33%;
    margin-left: 33%;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
}

footer{
    width: auto;
    height: 6.25rem;
    background-color: #041DFA;
    margin-right: 0;
}

#copyright{
    position: relative;
    top: 70%;
    bottom: 10%;
}

/*Estilo del formulario de suscripción*/
/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.formulario{  
  width: 28.75rem; 
  height: auto;
  margin: 5rem auto;
  border-radius: 0.625rem;  
  padding-top: 1.875rem;
  padding-bottom: 1.25rem;  
  background-color: #01094F;
  padding-left: 1.875rem; 
}

input{
  background-color: #fbfbfb; 
  width: 25.5rem; 
  height: 2.5rem; 
  border-radius: 0.313rem;  
  border-style: solid; 
  border-width: 0.063rem; 
  border-color: #000000; 
  margin-top: 0.625rem;  
  padding-left: 0.625rem;
  margin-bottom: 1.25rem; 
}

label{
  display: block; 
  float: center;  
}

button{
  height: 2.813rem; 
  padding-left: 0.313rem;
  padding-right: 0.313rem;   
  margin-bottom: 1.25rem; 
  margin-top: 0.625rem;   
  text-transform: uppercase;
  background-color: #091689;
  border-color: #01094F;
  border-style: solid; 
  border-radius: 0.625rem;  
  width: 26.25rem;   
  cursor: pointer;
}

button:hover{
  background-color: #fbfbfb;
  color: #000000;
}

button p{
  color: #fff; 
}

span{
  color: #fff; 
}

.aviso{
  font-size: 13px;  
  color: #fc0505;  
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}

::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario input:focus{
  outline:0;
  border: 1px solid #fff;
}

.formulario textarea:focus{
  outline:0;
  border: 1px solid #fff;
}

.fecha{
    font: italic;
    font-size: small;
    color: #a8a8a8;
    float: right;
}


.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0.625rem 1.25rem;
    border-bottom: 0.125rem solid #01094F;
    max-width: 12.5rem;
    background: #041DFA;
    font-variant: small-caps;
    text-shadow: 0.063rem 0.063rem black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 3rem;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    float: left;
    opacity: 0;
  }
  
  .respmenu {
    color: #a8a8a8;
    position: relative;
    background: #041DFA;
    min-height: 3rem;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
