.imagen {
    margin-left: 35%;
}


h1 {
    width: 50%;
    font-family: "Roboto Light";
}

p {
    width: 50%;
    font-family: "Roboto Light";
    font-size: large;
}

@media screen and (max-width: 500px){
    p {
        width: 100%;
        font-family: "Roboto Light";
        font-size: large;
 
    }
}
